<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DeptMapper">

    <select id="getOrgListByAid" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from tbl_org WHERE AID = #{AID}
    </select>

    <select id="getOrgList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from tbl_org WHERE (1=1)
        <if test="SEARCH!=null">
            AND NAME LIKE #{SEARCH}
        </if>
    </select>


    <select id="getDeptList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from tbl_department WHERE (1=1)
        <if test="PK_ORG != null">
            AND PK_ORG = #{PK_ORG}
        </if>
        <if test="SEARCH!=null">
            AND NAME LIKE #{SEARCH}
        </if>
    </select>


    <select id="getOrgDeptList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select d.*,org.NAME AS ORG_NAME from tbl_department d
        LEFT JOIN tbl_org org ON org.ID = d.PK_ORG
        WHERE (1=1)
        <if test="PK_ORG != null">
            AND d.PK_ORG = #{PK_ORG}
        </if>
        <if test="SEARCH!=null">
            AND d.NAME LIKE #{SEARCH}
        </if>
    </select>

    <select id="getGroupList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        select * from tbl_group WHERE (1=1)
        <if test="PK_ORG != null">
            AND PK_ORG = #{PK_ORG}
        </if>
        <if test="PK_DEPT != null">
            AND PK_DEPT = #{PK_DEPT}
        </if>
        <if test="SEARCH!=null">
            AND NAME LIKE #{SEARCH}
        </if>
    </select>

    <select id="getUserGroup" resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT g.*
        FROM tbl_group g
        INNER JOIN tbl_user_group ug
        ON g.ID = ug.PK_GROUP
        AND ug.PK_USER = #{PK_USER}
    </select>
</mapper>