<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ApiMapper">
	<select id="getUserInfo" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT * FROM tbl_org WHERE ADMIN_USERNAME = #{USERNAME}
	</select>

	<select id="getOrgname" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT * FROM tbl_org
	</select>
</mapper>